<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="Datos.Properties.Settings.dbSanPatrasConnectionString"
            connectionString="Data Source=DESKTOP-HJH9G5O;Initial Catalog=dbSanPatras;Persist Security Info=True;User ID=sa"
            providerName="System.Data.SqlClient" />
        <add name="Datos.Properties.Settings.ProyectoFinalDBConnectionString"
            connectionString="Data Source=DESKTOP-HJH9G5O;Initial Catalog=ProyectoFinalDB;User ID=sa"
            providerName="System.Data.SqlClient" />
        <add name="Datos.Properties.Settings.ProyectoFinalDBConnectionString1"
            connectionString="Data Source=DESKTOP-HJH9G5O;Initial Catalog=ProyectoFinalDB;Persist Security Info=True;User ID=sa;Password=abc123"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>